<div id="about-the-trust">
    <div class="section">
        <div id="section-title">
            <h2 class="text-size--medium">About Us</h2>
        </div>
        <div id="section-content">

            <p class="text-size--small"><b>
                    The Bridges Community Trust began as “The Meadows Forum” in 1996, started by
                    local residents for local
                    residents to improve the area in which they lived and/or worked, to give the local community a voice
                    that would be heard and to improve the social and economic status of the area. The One Stop Shop was
                    established in July 1998 under the name The Meadows Partnership Trust. In 2017 the name was changed
                    to
                    The Bridges Community to reflect a broader area of service delivery, and in 2013, the Trust expanded
                    to
                    include Clifton.
                </b></p>

            <p class="text-size--small">
                We support local voluntary and community sector organisations, the Meadows Food Bank and local
                individuals.
                Since 2006 we have been delivering successful employment support both on a one-to-one basis and by
                provision
                of Work Clubs, that are open and accessible to all by appointment only. We deliver this service from the
                One
                Stop Shop and from outreach locations such as local libraries. We have held the MATRIX Quality Standard
                for
                Careers Information, Advice and Guidance continuously since 2006, with successful reaccreditation in
                September 2018.
            </p>
        </div>
    </div>
</div>
<div class="separator"></div>
<div id="mission-and-values">
    <div class="section">
        <div id="section-title">
            <h2 class="text-size--medium">Our Mission and Values</h2>
        </div>
        <div id="section-content">
            <p class="text-size--small">
                <b>
                    The Bridges Community Trust is dedicated to serving the Meadows and Clifton communities and
                    surrounding areas, to provide better local services and facilities.
                </b>
            </p>

            <p class="text-size--small">
                We have a long established working relationship with the local community and local VCS organisations.
                Primarily, we deliver employment services, which contribute to the local community by raising the
                standards of living, giving locals more disposable income, and contributing to the health and wellbeing
                of the local residents.
            </p>
        </div>
    </div>
</div>
<div class="separator"></div>
<div id="the-team">
    <div class="section" style="margin-bottom: 2rem;">
        <div id="section-title">
            <h2 class="text-size--medium">Our Team</h2>
        </div>
        <div id="section-content">
            <p class="text-size--small">
                <b>Meet the people that make it all happen!</b> Our talented team is dedicated to supporting our
                community and
                delivering an effective employment support service.
            </p>
            <div class="grid grid-cols--4">
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/becky.webp" alt="">
                    <p class="text-size--small">
                        <b>Becky Liggins</b>
                    </p>
                    <p class="text-size--small">
                        Employment Advisor
                    </p>
                    <a target="_blank"
                        href="mailto:becky@bridgescommunitytrust.org.uk">becky@bridgescommunitytrust.org.uk</a>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/sam.webp" alt="">
                    <p class="text-size--small">
                        <b>Sam Kelly</b>
                    </p>
                    <p class="text-size--small">
                        Employment Advisor
                    </p>
                    <a target="_blank"
                        href="mailto:sam@bridgescommunitytrust.org.uk">sam@bridgescommunitytrust.org.uk</a>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/mark.png" alt="">
                    <p class="text-size--small">
                        <b>Mark Wells</b>
                    </p>
                    <p class="text-size--small">
                        Employment Advisor
                    </p>
                    <a target="_blank"
                        href="mailto:mark@bridgescommunitytrust.org.uk">mark@bridgescommunitytrust.org.uk</a>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/vanessa.webp" alt="">
                    <p class="text-size--small">
                        <b>Vanessa Wason</b>
                    </p>
                    <p class="text-size--small">
                        Finance Assistant
                    </p>
                    <a target="_blank"
                        href="mailto:vanessa@bridgescommunitytrust.org.uk">vanessa@bridgescommunitytrust.org.uk</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div id="the-board">
    <div class="section" style="margin-bottom: 2rem;">
        <div id="section-title">
            <h2 class="text-size--medium">Our Board</h2>
        </div>
        <div id="section-content">
            <p class="text-size--small">
                The members of our board of directors are thought leaders who have made a significant contribution
                to our society. Each and every one of them brings a unique set of skills and expertise to our
                organization. Our board are responsible for Governance and the Strategic direction and development
                of The Bridges Community Trust.
            </p>
            <div class="grid grid-cols--4">
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/miriam.webp" alt="">
                    <p class="text-size--small">
                        <b>Miriam Gifford</b>
                    </p>
                    <p class="text-size--small">
                        Chair
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/jan.webp" alt="">
                    <p class="text-size--small">
                        <b>Jan Walczyk</b>
                    </p>
                    <p class="text-size--small">
                        Trustee
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/richard.webp" alt="">
                    <p class="text-size--small">
                        <b>Richard McShane</b>
                    </p>
                    <p class="text-size--small">
                        IT Management
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/jeff.webp" alt="">
                    <p class="text-size--small">
                        <b>Jeff Meehan</b>
                    </p>
                    <p class="text-size--small">
                        Youth Football Coach
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/jayne.webp" alt="">
                    <p class="text-size--small">
                        <b>Jayne Meehan</b>
                    </p>
                    <p class="text-size--small">
                        Trustee
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/default.png" alt="">
                    <p class="text-size--small">
                        <b>Matthew Schoburgh</b>
                    </p>
                    <p class="text-size--small">
                        Community Activist (BAME)
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/default.png" alt="">
                    <p class="text-size--small">
                        <b>Heather Hodkinson</b>
                    </p>
                    <p class="text-size--small">
                        Community Engagement
                    </p>
                </div>
                <div class="team-member">
                    <img class="team-member-portrait" src="/images/default.png" alt="">
                    <p class="text-size--small">
                        <b>Judith Winwood</b>
                    </p>
                    <p class="text-size--small">
                        Trustee, CEO Beatfeet
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="separator"></div>
<div id="partners-and-funders">
    <div class="section">
        <div id="section-title">
            <h2 class="text-size--medium">Our Partners and Funders</h2>
        </div>
        <div id="section-content">
            <ul class="text-size--small">
                <li>European Social Fund</li>
                <li>Nottingham County Council</li>
                <li>Lloyds Foundation</li>
                <li>The Tudor Trust</li>
                <li>Castle Cavendish</li>
                <li>NCC Employment &amp; Skills Team</li>
                <li>NCC Voluntary and Community</li>
                <li>NCC Community Protection</li>
                <li>NCC Children and Families Team</li>
                <li>NCC Library Service</li>
                <li>Nottingham City Homes</li>
                <li>Nottingham Police</li>
                <li>Nottingham Together</li>
                <li>The Trussell Trust</li>
                <li>Meadows Advice Group</li>
                <li>Local Tenants &amp; Residents Associations</li>
            </ul>
        </div>
    </div>
</div>