<div class="section">
    <div id="section-title">
        <h2 class="text-size--medium">Nottingham Works 4 You </h2>
    </div>
    <div id="section-content">
        <p class="text-size--small">
            <b>
                Support for 16 - 24 year olds
            </b>
        </p>
        <p class="text-size--small">
            Nottingham Works 4 You, part of Nottingham Works, supports 16-24 year old's who are NEET (Not in
            Education, Employment or Training) are actively looking for work but who need additional support to find
            suitable job vacancies, complete job applications and prepare for interviews. There is also a focus on
            increasing confidence, developing key employability skills and providing work experience. Participants
            may also access funding for interview clothes, travel passes and costs to cover childcare.
        </p>
        <p class="text-size--small">
            If you are a Nottingham City resident who is unemployed and aged between 16-24 and would like to apply
            for our employment support programme or would like to refer someone who could benefit from our service,
            please click the button below and fill out your details!
        </p>
        <p class="text-size--small">
            <b>
                Nottingham Works 4 You is part-funded by the European Union through the European Social Fund (ESF).
                Contact Mark for more information
            </b>
        </p>

    </div>
</div>
<div class="separator"></div>
<div class="section">
    <div id="section-title">
        <h2 class="text-size--medium">Back2Work</h2>
    </div>
    <div id="section-content">
        <p class=" text-size--small">
            <b>
                Support for the over 25 year olds
            </b>
        </p>
        <p class="text-size--small">
            The employment programme is set up to support meadows and Clifton residents over the age of 25 who are
            unemployed and would like help getting back in to work, education or training. B2W aims to improve
            confidence in job searching and applications, effective interview techniques and developing essential
            employability skills.
        </p>
        <p class="text-size--small">
            If you would like to apply for our employment support programme or would like to refer someone who could
            benefit from our service,
        </p>
        <p class="text-size--small">
            <b>
                This program is available to Meadows and Clifton as well as Nottingham City residents over the age
                of 25. Contact SAM and BECKY for more information and you can also register below.
            </b>
        </p>

    </div>
</div>

<div class="separator"></div>
<div class="section">
    <div id="section-title">
        <h2 class="text-size--medium">Job Clubs</h2>
    </div>
    <div id="section-content">
        <p class="text-size--small">Our Employment Support team have joined forces with the Connected2 team to bring you
            a weekly Job Clubs
            where you can get support with a range of things. </p>
        <ul class="text-size--small">
            <li>Search and apply for jobs</li>
            <li>Interview preparation</li>
            <li>Write CV and Cover Letter</li>
            <li>Help with accessing your emails and Universal Credit account</li>
        </ul>
        <p class="text-size--small">
            Clifton Job Club will be held every Tuesday 10.00AM until 2.00PM at the Clifton Library.
        </p>
        <p class="text-size--small">
            Meadows Job Club will be held every Thursday 1.30PM until 4.30PM at the Meadows Library.
        </p>
    </div>
</div>