<div class="grid grid-cols--2">
    <div class="section" id="it-services">
        <div id="section-title">
            <h2 class="text-size--medium">IT Services</h2>
        </div>
        <div id="section-content">
            <p class="text-size--small">
                <b>Wi-Fi:</b> We have FREE Wi-Fi access with unlimited fast broadband provided by Virgin Media. Username
                and
                Password are displayed within the reception area, please ask if you need help connecting.
            </p>

            <p class="text-size--small">
                <b>Telephone:</b> We offer FREE use of our telephone, for use in job searches and benefit related
                enquires.
            </p>

            <p class="text-size--small">
                <b>Photocopying/Printing:</b> We are able to copy in colour/black & white, enlarge/reduce (A3/A5) and
                print
                documents. Laminating in A4/A3 sizes. A modest fee is charged for various services, please speak to us
                to
                find out more.
            </p>

            <p class="text-size--small">
                <b>Computer:</b> We have PCs for browsing the web and email. All machines have Microsoft Office
                installed and
                are
                connected to a printer. You may use a memory stick to bring or take documents.
            </p>

            <p class="text-size--small">
                Support will always be provided so please ask us.
            </p>
        </div>
    </div>
    <div class="section">
        <img src="/images/it-services.jpg" alt="" style="width: 100%;">
    </div>
    <div class="section">
        <img src="/images/food-bank.jpg" alt="" style="width: 100%;">
    </div>
    <div class="section" id="food-bank">
        <div id="section-title">
            <h2 class="text-size--medium">Food Bank</h2>
        </div>
        <div id="section-content">
            <p class="text-size--small">
                Click <a target="_blank"
                    href="https://www.trusselltrust.org/get-help/find-a-foodbank/eastwestnottingham/">here</a> to
                find out more about food banks in your area, opening times, and how to
                donate.
            </p>

            <p class="text-size--small">
                If you want more information about help with food in your area, you can contact any of the support
                services below that you are involved with:
            </p>

            <ul class="text-size--small">
                <li>Social Worker/ Youth Services</li>
                <li>Housing Support</li>
                <li>Probation Officer</li>
                <li>Substance Abuse Support Services</li>
                <li>Community support warden</li>
                <li>Health Care Providers</li>
                <li>GP's Practice</li>
                <li>Child’s school/nursery</li>
            </ul>

        </div>
    </div>

    <div class="section" id="help-and-advice">
        <div id="section-title">
            <h2 class="text-size--medium">Help and Advice</h2>
        </div>
        <div id="section-content">
            <p class="text-size--small">
                Our team are on hand to help you where possible. We work with various local organisations in order to
                provide the support you need, whether that be debt advice, help with clothing or furniture or victim
                support, we will signpost you to the relevant service.
            </p>

            <p class="text-size--small">
                Please see below a few of the support services we work with.
            </p>

            <p class="text-size--small">
                Sharewear support families by providing emergency clothing. To refer someone for this service or to find
                out more information, please visit here.
            </p>

            <p class="text-size--small">
                The Meadows Advice Group can support local residents with debt management, housing and benefits. Find
                out more on how they can support you here.
            </p>

            <p class="text-size--small">
                The Arches works with families to provide furniture, clothing and food in times of emergency. If you or
                someone you know is in need of this service, please let us know and our staff will make a referral. You
                can also find out more about this service here.
            </p>

            <p class="text-size--small">
                Directory of support services:
            </p>

            <ul class="text-size--small">
                <li>Citizens Advice Bureau (CAB) Nottingham Central – 0300 330 5457</li>
                <li>CAB Debt Enquiries – 0115 9453989</li>
                <li>CAB Housing Enquiries – 011509453970 (city residents only)</li>
                <li>Warm Homes Hub 0115 9853000</li>
            </ul>

        </div>
    </div>

    <div class="section">
        <img src="/images/help-advice.jpeg" alt="" style="width: 100%;">
    </div>
</div>